@using Flash.Club13.Web.Models.Home
@model SignUpWoDViewModel

@if (Model != null)
{
    <h4>Sign up for WoD</h4>
    if (Model.IsSigned == true)
    {
        <p>You are signed for @Model.SignedDailyWoD.StartTime workout!</p>
    }
    else
    {
        <div id="signUpWoDForm">
            @using (Ajax.BeginForm("SignUpForWorkout", "Workout", new AjaxOptions { HttpMethod = "POST", OnSuccess = "updateUi", UpdateTargetId = "signUpWoDForm", InsertionMode = InsertionMode.Replace }))
            {
                @Html.DropDownListFor(model => model.SelectedWoDId, new SelectList(Model.AllDailyWoDs, "Id", "StartTime"), "- Please Select -", new { @class = "form-control" })

                <input type="submit" value="Submit" class="btn btn-default" style="margin-top:10px;" />
            }
        </div>

    }
} else
{
    <p></p>
}

