@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>@Html.ActionLink("Week Schedule", "Current", "PublicSchedule", new { Area = "" }, new { })</li>
    <li>@Html.ActionLink("Complete Workout", "All", "CompleteWorkout", new { Area = "" }, new { })</li>
    if (User.IsInRole("Admin"))
    {
        <li>@Html.ActionLink("Administration", "Index", "Manager", new { Area = "Administration" }, new { })</li>
    }
}