@using Flash.Club13.Web.Areas.Administration.Models
@model CreateExerciseViewModel

<h1>CREATE EXERCISE</h1>
@using(Html.BeginForm("CreateExercise", "Manager", new { Area = "Administration"} , FormMethod.Post, null))
{
    @Html.EditorForModel();
    <button type="submit">Create!</button>
}