@using Flash.Club13.Web.Models.Workout
@model AllWorkoutsViewModel

<h1>All Workouts</h1>
@foreach (var wod in Model.AllWorkouts)
{
    <div class="row">
        @Html.Partial("_WoDPartial", wod);
    </div>
}